# prefix for containers
COMPOSE_PROJECT_NAME=mom_test
# prod|dev for containers config
CONTAINER_ENV=dev

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=ea1b62c670abee755497d4a198fbe277
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=app_amqp://admin:admin@rabbitmq:5672/%2f/messages
###< symfony/messenger ###

###> endroid/twitter ###
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
###< endroid/twitter ###
